/* BASE STYLES HERE & FONTS */

/* Override MUI tooltip background color (used in Welcome.js) */
.MuiTooltip-popper div {
    background-color: #e4e4e4 !important;
    color: #000;
}

/* react-transition-group classes */
.fade-enter {
    opacity: 0;
    transform: translate(0, 15px);
    z-index: 1;
  }
  .fade-enter.fade-enter-active {
    opacity: 1;
    transform: translate(0, 0);
  
    transition: opacity 250ms ease-out, transform 300ms ease;
  }
  .fade-exit {
    opacity: 1;
    transform: translate(0, 0);
  }
  .fade-exit.fade-exit-active {
    opacity: 0;
    transform: translate(0, 20px);
  
    transition: opacity 250ms ease-out, transform 300ms ease;
  }